
#projects {
    text-align: center;

    .card {
        background-color:$mainColor;
        padding: 20px;
        border-radius: 10px;
        border: 0;
        
        cursor: pointer;
        
        .card-link {
            color: $blackColor;
            text-decoration: none;
        }
    }
}

.margin-section{
    margin-top: 90px;
    margin-bottom: 90px;

    #courses { 
        padding: 10px;
        text-align: center;
        text-wrap:balance;

        img {
            width: 70px;
            padding: 10px;
        }
    }
    
}
