
#carousel-trinket {
    width: 300vh;
    background-color:$secondaryColor;
    border-radius: 6px;
    padding: 40px;

    .carousel-caption {
        background-color: $mainColor;
        color: $blackColor;
        border-radius: 6px;
        padding: 8px;

        .carousel-link {
            color: $secondaryColor;
        }
    }

    
}

