
.contactbox {

    background-color:$mainColor;
    padding-inline: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
      
    .form-top {
        display:inline-flex;
        justify-content: space-between;

        .input {
            display: flex;
            flex-direction: column;
            width: 45%;
        }
        
        input { 
            border: 0;
            height: 35px;
            border-radius: 4px;
        }
    }  
  
    .form-bottom {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        gap:10px;

        textarea { 
            border: 0;
            border-radius: 5px;
        }
    }
    
    .btn-submit{
        background:$secondaryColor;
        border: none;
        align-self: end;
        height: 50px;
        padding-top: 8px;
        width:120px;
        transition: background-color 300ms, color 400ms ease-in;

        &:hover{
            background: $blackColor;
            color: $secondaryColor;
        }
    }
   
}

.social-link{
    font-family: "Outfit"; 
    font-size: 1rem;
    text-wrap: nowrap;
    
    li {
        transition: background-color 200ms, padding-inline-end 300ms ease-in;
        border-radius: 40px;

        &:hover {
            background-color: $tertiaryColor;
            width: fit-content;
            padding-inline-end: 16px;
        }
    }
}

.contact-info {
    img {
        animation-name: rotacion;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in-out;
    }
}