footer {
    bottom: 0;
    background-color: $tertiaryColor;

    .float {
        background-color: $mainColor;
        border: none;
        position: fixed;
        bottom: 50px;
        right: 20px;
        padding-inline: 18px;
        padding-block: 10px;
        text-decoration: none;
        color: $blackColor;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        transition: transform 250ms ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}